.cabecalho {
    background-color: #d5f7d8;
    padding: 15px 30px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #4CAF50;
  }
  
    /* Ajusta o logotipo no cabeçalho */
  .cabecalho img {
    width: 10rem;
  }
  
   /* Define o estilo da navegação dentro do cabeçalho */
  nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
   /* Remove o estilo de lista, aplica padding e alinha os links de navegação horizontalmente */
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 0;
    align-items: center;
  }
  
  nav ul li a {
    /* Estiliza os links de navegação, removendo sublinhado e aplicando cor e padding */
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    padding: 10px;
    font-size: 1.1em;
    -webkit-text-stroke: 1px black;
  }
  
  nav ul li a:hover {
    /* Muda a cor e aplica um leve efeito ao passar o mouse */
    color: #FF9800;
    transform: scale(1.05);
  }
  
  nav ul li a:active {
    /* Define a cor ao clicar no link */
    color: #e68900;
  }
  
  .login-cadastro {
    /* Define o estilo do login/cadastro no cabeçalho */
    color: #2e7d32;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
    font-size: 1.1em;
  }
  
  .login-cadastro:hover {
    /* Muda a cor ao passar o mouse sobre o link de login/cadastro */
    color: #FF9800;
  }
  