.AcessosRapidos {
    /* Define o layout dos elementos de "Acessos Rápidos" */
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .AcessosRapidos img {
    /* Define o estilo das imagens dos "Acessos Rápidos": tamanho, bordas arredondadas e sombras */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .AcessosRapidos img:hover {
    /* Aplica um efeito de zoom ao passar o mouse sobre a imagem */
    transform: scale(1.1);
  }
  
  .AcessosRapidos button {
    /* Estiliza os botões dos "Acessos Rápidos": cor de fundo, padding e efeito hover */
    display: block;
    margin: 10px auto;
    background-color: #E99C58;
    color: #6D9C22;
    font-size:24px;
    font-weight:bolder;
    -webkit-text-stroke: 1px black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .AcessosRapidos button:hover {
    /* Muda a cor de fundo do botão ao passar o mouse */
    background-color: #e68900;
  }
  